body,
.hero-section {
  display: flex;
  flex-direction: column;
}

.hero-section,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}
.header,
.first {
  display: flex;
}
.logo-text,
.links {
  align-items: center;
  justify-content: center;
}
.logo-text {
  margin-right: auto;
  padding-left: 3%;
  color: #f9faf8;
  font-size: 24px;
}
.links {
  gap: 15px;
  padding-top: 2%;
  padding-right: 3%;
  margin-left: auto;
}
.links a {
  color: white;
  text-decoration: none;
}
.first-container {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}
.hero-image {
  margin-left: auto;
}
